/* 文档系统 */
.docspress-single-articles ul {
  margin-top: 20px !important;
  padding-left: 0 !important;
}
.docspress-nav-list ul[class="children"] {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#toc_container {
  position: fixed;
  top: 90px;
  right: 30px;
  background-color: rgba(230, 230, 230, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 999;
}

#toc_container > ul[class="toc_list"] {
  display: block;
  max-height: 30rem;
  overflow: auto;
}
#toc_container li {
  padding-top: 4px;
  padding-bottom: 4px;
}
#toc_container li a {
  color: #000;
}

.docspress-single-articles ul li,
.docspress-single-content .toc_list li {
  list-style-type: none;
}
.full-content .docspress-single {
  min-height: 100vh;
}

.doc-card + ul {
  display: block;
  border-top: solid 1px rgba(187, 195, 200, 0.7);
  width: 80%;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  list-style-type: none;
}
.doc-card + ul li {
  display: block;
  padding: 3px;
  width: 100%;
}
.doc-card + ul li a {
  display: block;
  height: 100%;
  width: 100%;
}
.doc-card + ul li:hover {
  background-color: rgba(30, 120, 90, 0.3);
  transition: all 0.2s ease;
}
.doc-card + ul li:hover > a {
  color: #fff;
}
.docspress-search-form {
  margin-bottom: 10px;
}
.dark-open .docspress-single .docspress-single-sidebar .docspress-nav-list {
  color: #fff !important;
}
.dark-open .docspress-single .docspress-single-sidebar {
  border-color: rgba(133, 137, 141, 0.7) !important;
}
.dark-open .docspress-search-field {
  border-color: rgba(83, 87, 91, 0.4) !important;
}

.dark-open .docspress-single-content #toc_container,
.dark-open .doc-card + ul {
  border-color: rgba(133, 137, 141, 0.7);
}
.dark-open .docspress-single-content #toc_container li a {
  color: #c6cfd8;
}
