/* 问答系统 */
.ap-minimal-editor #ap-form-main {
  display: block !important;
}
#answer-form-c #ap-form-main {
  padding: 0;
}
#answer-form-c .ap-cell-inner {
  border: none;
}
#anspress {
  background: transparent;
}
#anspress .ap-list-head {
  border: none;
}
#anspress #ap-filter-reset {
  font-size: 12px;
  line-height: 15px;
}
.ap-search-btn {
  /* border-radius: 2px; */
  background-image: inherit;
}
#anspress select {
  line-height: 20px;
}
#anspress .ap-taxo-detail .entry-title {
  font-size: 16px;
}
#anspress .ap-taxo-detail .ap-taxo-description {
  font-size: 14px;
}
#anspress .ap-btn-newcomment {
  margin-top: 10px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  /* border-radius: 0.2rem; */
  box-shadow: 0 0 0 rgb(16 196 105 / 50%);
  background-color: #10c469;
  border-color: #10c469;
  color: #e9ecef;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  opacity: 0.8;
}
#anspress .ap-btn-newcomment:hover {
  color: #fff;
  opacity: 1;
}

#form_comment .ap-btn-submit {
  color: #10c469;
  border-color: #10c469;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /* border-radius: 0; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#form_comment .ap-btn-submit:hover {
  color: #fff;
  background-color: #10c469;
  border-color: #10c469;
}
.ap-cat-image {
  background: #ccc !important;
}
#anspress .ap-user-bio {
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  min-height: 57px;
}
#anspress .ap-user .ap-tab-nav > li.active a {
  border: none;
  box-shadow: 0 -1px 1px rgba(30, 90, 30, 0.7);
}

#anspress .ap-user .ap-tab-nav > li {
  margin-bottom: 0;
}

#anspress .ap-user .ap-tab-nav {
  padding-left: 0;
}
#anspress .show {
  display: block !important;
}
#anspress .ap-category-subitems {
  margin-bottom: 0;
  padding-left: 0;
}
#anspress .ap-list-head {
  padding-left: 0;
}
#anspress .ap-category-subitems li a {
  border-radius: 0;
  user-select: none;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  display: flex;
  line-height: 1.2;
}
#anspress .ap-category-subitems li a > .dot {
  border-radius: 50%;
  height: 6px;
  margin-right: 5px;
  width: 6px;
}
#anspress .ap-category-subitems li a:hover {
  text-decoration: none;
}
#anspress .ap-category-subitems li a.primary {
  color: #536de6;
  border-color: #536de6;
}
#anspress .ap-category-subitems li a.primary > .dot {
  background-color: #536de6;
}
#anspress .ap-category-subitems li a.secondary {
  color: #6c757d;
  border-color: #6c757d;
}
#anspress .ap-category-subitems li a.secondary > .dot {
  background-color: #6c757d;
}
#anspress .ap-category-subitems li a.success {
  color: #28a745;
  border-color: #28a745;
}
#anspress .ap-category-subitems li a.success > .dot {
  background-color: #28a745;
}
#anspress .ap-category-subitems li a.danger {
  color: #dc3545;
  border-color: #dc3545;
}
#anspress .ap-category-subitems li a.danger > .dot {
  background-color: #dc3545;
}
#anspress .ap-category-subitems li a.warning {
  color: #ffc107;
  border-color: #ffc107;
}
#anspress .ap-category-subitems li a.warning > .dot {
  background-color: #ffc107;
}
#anspress .ap-category-subitems li a.primary:hover {
  color: #fff;
  background-color: #536de6;
  border-color: #536de6;
}
#anspress .ap-category-subitems li a.secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
#anspress .ap-category-subitems li a.success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
#anspress .ap-category-subitems li a.danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
#anspress .ap-category-subitems li a.warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
#anspress .ap-category-subitems li a:hover > .dot {
  background-color: #fff;
}
#anspress .ap-category-subitems li a.warning:hover > .dot {
  background-color: #212529;
}
